# Google Cloud Configuration
GCP_PROJECT_ID=your-project-id-here
GCS_BUCKET_NAME=your-bucket-name-here
GCP_REGION=asia-southeast1

# BigQuery Dataset Names
BQ_RAW_DATASET=linkedin_raw
BQ_MARTS_DATASET=linkedin_marts
