# Google Cloud Configuration
GCP_PROJECT_ID=your-project-id-here
GCS_BUCKET_NAME=your-bucket-name-here

# dbt Profile (Sẽ được dùng trong profiles.yml nếu cần)
DBT_PROFILES_DIR=./job-market-pipeline/dbt
