# Google Cloud Configuration
GOOGLE_CLOUD_PROJECT=your-project-id
GCS_BUCKET_NAME=your-bucket-name
GCP_REGION=asia-southeast1
# Path to your Google Service Account JSON key (relative to project root or absolute)
GCP_KEYFILE_PATH=./gcp_keys/application_default_credentials.json

# BigQuery Dataset Names
BQ_RAW_DATASET=linkedin_raw
BQ_MARTS_DATASET=linkedin_marts
