# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# GCP Private Keys (IMPORTANT)
gcp_keys/
*.json

# Pipeline Logs
*.log
master_pipeline.log
pipeline_extract.log
pipeline_load.log

# Raw and Processed Data (All heavy files)
data/
job-market-pipeline/data/ # Backup ignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
